.idea/
/*/*/node_modules/
/*/*/package-lock.json
/*/*/dist/bundle.js
/*/*/dist/bundle.js.LICENSE.txt
/*/*/*/bundle.js.LICENSE.txt
/0x00-Webpack/task_3/public/
/*/*/dashboard/package-lock.json
/*/*/dashboard/node_modules/
/*/task*/dashboard/src/index.css
/*/task*/dashboard/dist/bundle.js
/*/task*/dashboard/dist/57b2aa745c806c3b8fd00062145740b6.png
/*/task*/dashboard/dist/24bab5d633e36ca8d17edc63164cf934.jpg
