th {
    border-bottom: 1px solid grey;
    margin: 0;
    padding: 0;
    text-align: left;
}

th:first-child {
    text-align: center;
}

table {
    width: 90%;
    border: 1px solid grey;
    margin: 40px auto auto;
    padding: 0;
}

td {
    padding-left: 3px;
}
