.App-logo {
    height: calc(12vh + 3vw);
}

.App-header {
    margin: 3vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    font-size: calc(4px + 1vw);
    color: #df344b;
}

.App-header h1 {
    padding-top: 4.5vh;
}
